#main-navbar{
	background-color: blue;
	overflow: hidden;
}

#navbar-container{
	float: left;
	position: relative;
	width: 100%;
}

#main-navbar ul{
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	right: 50%;
}

#navbar-container li{
	position: relative;
	float: left;
}

#navbar-container a{
	float: left;
	text-decoration: none;
	padding: 10px 20px;
	color: #fff;
}

#navbar-container a:hover{
	text-decoration: underline overline;
	display: block;
	background-color: #000;
}

#sidebar{
	position: fixed;
	background-color: red;
	right: 0%;
	width: 20%;
	height: 100%;
}

#sidebar-container ul{
	list-style-type: none;
	text-align: center;
	margin-top: 0px;
	padding: 15px 0;
}

#sidebar-container a{
	text-decoration: none;
}